@use 'color';
@use 'media-queries';

$accent-color: map-get(
  $map: color.$accent,
  $key: 700,
);

$header-gray-color: map-get(
  $map: color.$gray,
  $key: 400,
);

:host {
  width: 100%;
  display: block;

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    .data-title,
    th {
      color: $header-gray-color;
      font-weight: 500;
    }

    caption {
      text-align: left;
    }

    th,
    td {
      padding-inline: 0.75rem;
      padding-block: 0.25rem;
    }

    tr {
      background-color: inherit;
      padding-block: 0.5rem;
      display: block;
    }

    // Mobile view

    thead {
      display: none;
    }

    td {
      display: flex;
      justify-content: space-between;
    }

    app-total-weight-row {
      display: none;
    }

    @include media-queries.web {
      th,
      td {
        display: table-cell;
        padding-block: 0.5rem;
      }

      .data-title {
        display: none;
      }

      thead {
        display: table-header-group;
      }

      app-total-weight-row {
        display: contents;
      }

      tr {
        display: table-row;
      }

      th {
        width: 15%;
        &:first {
          width: 30%;
        }

        &:last {
          width: 40%;
        }
      }
    }

    :where(app-row, app-total-weight-row):nth-child(odd) {
      background-color: $accent-color;
    }
  }
}
