@use 'color';

$focus-color: purple;
$regular-color: map-get(
  $map: color.$gray,
  $key: 200,
);
$black-color: map-get(
  $map: color.$gray,
  $key: 100,
);
$gray-background: map-get(
  $map: color.$gray,
  $key: 850,
);

@mixin internal-padding {
  padding-inline: 14px;
  padding-block: 12px;
}

$border-radius: 8px;

.form-field-wrapper {
  margin-top: 1.5rem;
  background-color: white;

  outline: 2px solid $regular-color;
  border-radius: $border-radius;
  display: flex;
  flex-direction: row;
  position: relative;
  color: $black-color;

  &:focus-within,
  &:focus-within .app-input-after {
    outline-color: $focus-color;
  }

  label {
    position: absolute;
    top: calc(-2 * 0.875rem);
    font-size: 0.875rem;
    line-height: 182%;
    color: $regular-color;
  }

  input {
    flex: 1 1 0;
    outline: none;
    border: none;
    padding: 0;

    background-color: transparent;
  }

  & > *:not(label, app-selector-button) {
    @include internal-padding;
  }
  & > * {
    font-size: 0.875rem;
    line-height: 1rem;
  }

  .app-input-after {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
  span.app-input-after {
    background-color: $gray-background;
    outline: solid $regular-color 2px;
    vertical-align: middle;
  }
}
