{
  "src/assets/data/recipes/*.json": [
    "./script/update-recipe-list.sh",
    "npx prettier --write src/assets/data",
    "git add src/assets/data"
  ],
  "*.{json,md,yml,yaml}": "npx prettier --write",
  "*.{scss,html}": "npx prettier --write",
  "src/**/*.ts": ["ng-lint-staged lint --fix --"]
}
