@use 'media-queries';
@use 'color';

footer {
  font-weight: 600;
  background: map-get($map: color.$accent, $key: 700);

  display: flex;
  align-items: center;
  justify-content: center;

  height: 4rem;
  width: 100%;

  border-color: map-get($map: color.$gray, $key: 800);
  border-top: solid 1px;

  @include media-queries.web {
    height: 8rem;
  }
}
