@use 'media-queries';

footer {
  font-weight: 600;
  background: hsl(37 48% 95%);

  display: flex;
  align-items: center;
  justify-content: center;

  height: 4rem;
  width: 100%;

  border-color: hsl(0 0 0.81);
  border-top: solid 1px;

  @include media-queries.web {
    height: 8rem;
  }
}
