:host {
  display: block;
}

header {
  display: flex;
  gap: 16px;
  align-items: center;

  padding-top: 32px;
}

h1 {
  color: hsla(33, 52%, 49%, 1);
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  margin: 0;
}
