@use '../form-field/form-field.component.scss' as form-field;

button {
  outline: none;
  border: none;
  background-color: transparent;
  @include form-field.internal-padding;

  app-chevron {
    width: 1rem;
    height: 1rem;
  }
}
