@use 'media-queries';
@use 'color';

:host {
  display: block;
  width: clamp(300px, 100vw, 1144px);
  margin: 0 auto;
  background-color: map-get(color.$gray, 100);

  > *:not(app-footer) {
    margin-inline: 1rem;

    @include media-queries.web {
      margin-inline: 3.5rem;
    }
  }
}
